html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#container h2 {
  display: flex;
  justify-content: center;
}

h2 {
  color: #ffeba7;
  letter-spacing: 1px;
}
input {
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 30px;
  height: 2.5em;
  width: 250px;
  padding-left: 10px;
}

input:active {
  border: none;
}
#container {
  height: 500px;
  width: 400px;
  margin: 150px auto;
  background-color: #1a1f4b;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 13px 17px 37px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 17px 37px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 17px 37px 0px rgba(0, 0, 0, 0.75);
}

button {
  margin-top: 20px;
  background-color: #ffeba7;
  border-radius: 4px;
  height: 44px;
  font-weight: 600;
  padding: 0 30px;
  letter-spacing: 1px;
  border: none;
  color: #102770;
}

button:hover {
  cursor: pointer;
}
#todoList {
  color: white;
  font-size: 28px;
  margin-top: 10px;
}

#todoList p {
  margin: 10px 0px;
}

#todoList p:hover {
  cursor: pointer;
}
